/* Apply to the entire app */
body {
    margin: 0;
    font-family: "Arial", sans-serif;
    box-sizing: border-box;
  }
  
  h1, h2 {
    margin: 0;
  }
  
  button {
    outline: none;
  }
  
  .app {
    min-height: 100vh;
    padding: 20px;
  }
  